[user]
	name  = Samir Hussain
	email = shussain@xelerance.com
    username = shussain

[github]
	user = shussain

[branch "master"]
	remote = origin
	merge  = refs/heads/master

[alias]
	ci  = commit -v
	aiw = "!f(){ git diff -w --no-color | git apply --cached --ignore-whitespace; };f"
	graph = log --oneline --graph

[apply]
    whitespace = nowarn

[color]
	ui     = auto
	diff   = auto
	status = auto
	branch = auto

[color "branch"]
	current = yellow reverse
	remote  = green
	local   = white

[color "status"]
    added     = green
    changed   = red
    untracked = yellow

[color "diff"]
	meta = blue bold
	frag = magenta bold
	old  = red
	new  = green

[grep]
	linenumber = true

[rebase]
    autoStash = true

[push]
	default = current

[pull]
	default = current

[log]
    decorate = short

[core]
	editor = vim
    pager = less
	excludesfile = ~/.gitignore
	mergeoptions = --no-edit
