[MISCELLANEOUS]

# List of note tags to take in consideration, separated by a comma.
notes=XXX,HACK,FIXME,TODO,OPTIMIZE

[TYPECHECK]
generated-members=cleaned_data,is_valid,objects,save,assertEqual
ignored-classes=Resource
